* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  /* background: rgb(0 100 0 / 0.1) !important; */
}

html {
  height: 100%;
}

body {
  background-color: #202124;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
  min-height: fit-content;
}

.media-popup {
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 0.9);
  z-index: 1;
}

.x {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.media-container {
  height: 100%;
  max-height: fit-content;
  position: relative;
  display: flex;
}

.media-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem 1rem;
  text-align: center;
  align-items: center;
  padding-bottom: 2rem;
}

.media {
  max-width: 100%;
  max-height: 100%;
  height: fit-content;
}

.clickable {
  cursor: pointer;
  max-width: 100%;
}

.media-buttons {
  position: absolute;
  inset: 0;
  background-color: rgb(23 23 23 / 0.8);
  height: 100%;
  width: 100%;
  max-height: fit-content;
  max-width: fit-content;
  margin-top: auto;
  margin-inline: auto;
  display: flex;
  gap: 2rem;
  flex-direction: row;
  align-items: flex-end;
  padding-inline: 0.6rem;
  padding-top: 0.3rem;
  z-index: 1;
}

.media-button {
  font-size: 1.4rem;
  color: #ffffff;
  background-color: rgb(0 0 0 / 0);
  border: none;
  cursor: pointer;
}

.x-button {
  right: 3rem;
}

.bookmark-button {
  left: 3rem;
}

li::marker {
  content: '';
}

.hide {
  display: none !important;
}

.form-fetch-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
  background-color: rgb(34 34 34);
}

.input-fetch-media {
  width: 100%;
  max-width: fit-content;
  min-width: fit-content;
  background-color: rgb(0 0 0 / 0);
  color: #ffffff;
  border: none;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 0.1rem;
  outline: 1px solid #ffffff;
  font-size: 0.9rem;
  padding: 0.3rem;
}

.carousel-button {
  font-size: 3rem;
  background-color: rgb(0 0 0 / 0);
  border: none;
  color: #ffffff;
  cursor: pointer;
  height: 100%;
  transition: background-color .2s ease-in-out;
}

.custom {
  width: 100%;
  max-width: 18rem;
}

.slide-button {
  max-width: 10%;
  height: 100%;
  width: 100%;
}

.carousel-button:hover {
  background-color: rgb(0 0 0 / 0.7)
}

.slides-buttons {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

/*  */

.nav-bar {
  display: flex;
  justify-content: center;
  gap: 4rem;
  position: sticky;
  width: 100%;
  min-width: 20rem;
  background-color: rgb(39 39 39);
  margin-bottom: 2rem;
  top: 0px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  max-width: 4.1rem;
  min-width: 4.1rem;
}

.nav-bar-button {
  font-size: 1.5rem;
}

.search-button-container {
  position: relative;
}

.search-button {
  margin-inline: auto;
  height: 100%;
}

.search-button-label {
  position: absolute;
  display: grid;
  place-items: end;
  height: 100%;
}

/* .form-search-container {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0px;
  width: 100%;
  text-align: center;
  transition: bottom .2s ease-in-out;
} */

.form-search {
  display: flex;
}

.form-show {
  bottom: 3.4rem;
}

li::marker {
  content: '';
}

@media (max-width: 420px) {
  .nav-bar {
    bottom: 0px;
    min-width: min-content;
    gap: 25px;
    margin-bottom: 0px;
  }

  .media-list {
    padding-top: 2rem;
  }
}

.input-search {
  margin-top: auto;
  margin-bottom: auto;
  max-width: 4.1rem;
  max-height: 2.1rem;
  width: 100%;
  height: 100%;
  outline: 1px solid #ffffff;
  color: #ffffff;
  font-size: 1rem;
  transition: max-width .2s ease-in-out;
  background-color: rgb(0 0 0 / 0);
}

.input-search:focus-within {
  max-width: 10.4rem;
}

.video-outline {
  outline: 2px solid rgb(0 100 255);
}

.video {
  max-width: 100%;
}

.offcanvas {
  max-width: 16rem;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform .2s ease-in-out;
  background-color: rgb(27 27 27);
  display: grid;
  place-content: start;
  gap: 2rem;
  justify-content: center;
  padding-top: 3rem;
}

.offcanvas-popup {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.9);
  z-index: 1;
}

.show-offcanvas {
  transform: none;
}

.offcanvas-item {
  display: flex;
  gap: 10px;
  width: min-content;
  font-size: 1.4rem;
  flex-direction: row;
  padding-inline: 1rem;
  border-radius: 1rem;
  transition: background-color .2s ease-in-out;
  cursor: pointer;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
}

.offcanvas-item:hover {
  background-color: rgb(46 46 46);
}

.page-buttons-container {
  max-width: fit-content;
  margin-inline: auto;
  padding-bottom: 2rem;
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}

.input-page-number-container {
  max-height: fit-content;
}

.input-page-number {
  border: none;
  display: grid;
  place-content: center;
  font-size: 1.3rem;
  color: #ffffff;
  background-color: rgb(0 0 0 / 0);
  border-bottom: 2px solid #ffffff;
  max-width: 3rem;
}

.buttons-container {
  display: flex;
  flex-direction: row;
}

.page-button {
  border: none;
  font-size: 1.5rem;
  display: grid;
  place-content: center;
  cursor: pointer;
  background-color: rgb(0 0 0 / 0);
  color: #ffffff;
}

.current-page {
  font-size: 1.5rem;
  cursor: default;
  color: #ffffff;
}

.sort-container {
  display: flex;
  gap: 0.5rem;
  font-size: 1.2rem;
}

.y {
  display: grid;
  place-content: center;
  margin-bottom: 2rem;
}