* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.test {
  flex: 1 1 20%;
}

.test2 {
  color: #ffabf5;
  font-size: 1.9rem;
}

.videoBorder {
  cursor: pointer;
  border: solid 1px #00c7ff
}

.center-element {
  display: grid;
  place-items: center;
}

.m-4 {
  margin: 4% !important;
}